.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #eceff4;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99999;
}

.topbarLogo {
  font-size: 35px;
  margin-left: 20px;
  font-weight: 300;
  color: #000000;
  font-family: "Grand Hotel", cursive;
  cursor: pointer;
}
/* divides topbar into 12 parts for left, center, and right */
.topbarLeft {
  flex: 3;
}

.topbarCenter {
  flex: 5;
  position: relative;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9999; /* Tambahkan z-index */
}

.css-168pop2-MuiList-root {
  border-radius: 0px 0px 10px 10px;
}
.searchResults {
  position: absolute; /* Tambahkan properti position: absolute */
  top: 20px; /* Sesuaikan dengan jarak dari atas */
  left: 0; /* Atur posisi horizontal jika diperlukan */
  width: 100%; /* Sesuaikan dengan lebar input pencarian */
  background-color: #ffffff;
  border-top: none;
  border-radius: 30px;
  /* border-radius: 10px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* Atur z-index jika diperlukan */
}

.searchResult {
  font-size: 15;
  color: #000000;
}

.searchInput {
  border: none;
  width: 70%;
  z-index: -1;
  font-size: 15px;
}
.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #000000;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  color: white;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* Tambahkan CSS ini di file topbar.css */

.searchResult {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.searchResultImg {
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.searchResultUsername {
  font-weight: bold;
}

.searchResult:hover {
  background-color: #f3f3f3;
}
