.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: -100px;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #999;
}

.loveContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  gap: 5px;
}

.love {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
